<!DOCTYPE html>

<html lang="en">
<%- include('./partials/head', {title: 'CambiaContraseña'}) %>
<link rel="stylesheet" href="/css/perfile.css">

<body>

    <%- include('./partials/header', {user})%>

    <section class="slicebg-3">
        <div class="w-section inverse shop">
            <div class="containerperfil">
                <div class="misdatos">
                    <div class="rowperfil">
                        <div class="col-md-3 mt-20">
                            <h1 class="section-title mi_cuenta"><i class="fa fa-users-cog"></i>&nbsp;Cambiar mi
                                contraseña</h1>
                            <div class="widget oculto-movil-">
                                <ul class="categories">
                                    <li class="active"><a href="/perfil/<%= user.id %>"><i
                                                class="fa fa-users"></i>&nbsp;Mis datos</a></li>
                                    <li><a href="/carrito/history" class="continuar"><i
                                                class="fa fa-shopping-cart "></i>&nbsp;Mis Guardados</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8 ml-4 mt-20">
                            <div class="w-section inverse">
                                <h3><i class="fa fa-list-alt"></i>&nbsp; Contraseña</h3>
                                <table class="table table-cart table-responsive">
                                    <tbody id="contentPedido">
                                        <form id= "trash"  id="actualizarCuenta" name="actualizarCuenta" class="col-lg-12"
                                            action="/perfil/editpas/<%= user.id %>" method="POST">

                                            <div class="password">
                                                <input class="passwordInput" type="password" id="passsword"
                                                    name="currentPassword" autocomplete="off" placeholder="Contraseña"
                                                    value="" required>
                                                <p class="error">
                                                    <%= typeof errors == 'undefined' ? null : errors.currentPassword ? errors.currentPassword.msg : null %>
                                                </p>
                                            </div>

                                            <div class="password">
                                                <input class="passwordInput" type="password" id="passsword"
                                                    name="newPassword" autocomplete="off" placeholder="Contraseña Nueva"
                                                    value="" required>
                                                <p class="error">
                                                    <%= typeof errors == 'undefined' ? null : errors.newPassword ? errors.newPassword.msg : null %>
                                                </p>
                                            </div>
                                            <div class="password">
                                                <input class="passwordInput" type="password" id="retype" name="retype"
                                                    placeholder="Reescribir Contraseña" value="">
                                                <p class="error" required>
                                                    <%= typeof errors == 'undefined' ? null : errors.retype ? errors.retype.msg : null %>
                                                </p>


                                                <div class="col-lg-12 col-xs-12 mt-3 pl-0">
                                                    <button type="submit" class="btn btn-blue"><i class="fa fa-check"
                                                            aria-hidden="true"></i> Actualizar mi contraseña</button>
                                                </div>
                                            </div>

                                        </form>


                                </table>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </section>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>		
	<script src= "/js/sweetAlerts.js"></script>
</body>