


<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: 'EditProduct'}) %>
<link rel="stylesheet" href="/css/register.css">

<body>
    <!-- Header -->
    <%- include('./partials/header') %>
    <div class="encierro">
        <div class="loginContainer row no-wrap">
            <main class="login-publi row no-wrap">
                <div class="loginCompleto">
                   
                    
                    <div class="form-container" id="editycreateForm">
                        <div class="loginTitulo">EDIT COUNTRIE</div>
                        <form class="loginForm" action="/lista/create" method="POST" autocomplete="off" enctype="multipart/form-data">
                           
                            <div class="field-group">
                                <div class="username">
									<label for="name" class="form-label">Nombre del producto:</label>
									<input  value="<%= Countries.name %>" class="name" type="text" id="name" name="name" placeholder="Ej: Zapatillas Reebok" class="form-input">
                                    </p>
                                </div>
                                <div class="email"> 
                                    <label for="price" class="form-label">Idioma:</label>
									<input  value="<%= Countries.Idioma %>" class="emailInput" type="text" id="Idioma" name="price" placeholder="Ej: 5678" class="form-input">
                                </div>
                                <div class="descripcion"> 
                                    <label for="descripcion" class="form-label">GastoAlimento:</label>
									<input value="<%= Countries.GastoAlimento %>" class="descripcion" type="text" id="GastoAlimento" name="descripcion" placeholder="Ej: 5678" class="form-input">
                                </div>
                                <div class="password">
									<label for="categoryId" class="form-label">GastoTrasporte:></label>
									<input value="<%= Countries.GastoTrasporte %>" class="descripcion" type="text" id="GastoTrasporte" name="descripcion" placeholder="Ej: 5678" class="form-input">
                                </div>
                                <div class="password">
									<label for="categoryId" class="form-label">GastoVivienda:</label>
									<input value="<%= Countries.GastoVivienda %>" class="descripcion" type="text" id="GastoVivienda" name="descripcion" placeholder="Ej: 5678" class="form-input">
                                </div>
                                <div class="password">
									<label for="categoryId" class="form-label">Desempleo:</label>
									<input value="<%= Countries.Desempleo %>" class="descripcion" type="text" id="Desempleo" name="descripcion" placeholder="Ej: 5678" class="form-input">
                                </div>
                                <div class="password">
									<label for="categoryId" class="form-label">SalarioMinimo:</label>
									<input value="<%= Countries.SalarioMinimo %>" class="descripcion" type="text" id="SalarioMinimo" name="descripcion" placeholder="Ej: 5678" class="form-input">
                                </div>
                                <div class="password">
									<label for="categoryId" class="form-label">SalarioMedio:</label>
									<input value="<%= Countries.SalarioMedio %>" class="descripcion" type="text" id="SalarioMedio" name="descripcion" placeholder="Ej: 5678" class="form-input">
                                </div>
                                <div class="password">
									<label for="categoryId" class="form-label">TipoDeVisado:</label>
									<input value="<%= Countries.TipoDeVisado %>" class="descripcion" type="text" id="TipoDeVisado" name="descripcion" placeholder="Ej: 5678" class="form-input">
                                </div>
                                <div class="password">
									<label for="categoryId" class="form-label">ServiciosPublicos:</label>
									<input value="<%= Countries.ServiciosPublicos %>" class="descripcion" type="text" id="ServiciosPublicos" name="descripcion" placeholder="Ej: 5678" class="form-input">
                                </div>
                                <div class="password">
									<label for="categoryId" class="form-label">PromClima:</label>
									<input value="<%= Countries.PromClima %>" class="descripcion" type="text" id="PromClima" name="descripcion" placeholder="Ej: 5678" class="form-input">
                                </div>
                                <div class="password">
									<label for="categoryId" class="form-label">AltoClima:</label>
									<input value="<%= Countries.AltoClima %>" class="descripcion" type="text" id="AltoClima" name="descripcion" placeholder="Ej: 5678" class="form-input">
                                </div>
                                <div class="password">
									<label for="categoryId" class="form-label">BajoClima:</label>
									<input value="<%= Countries.BajoClima %>" class="descripcion" type="text" id="BajoClima" name="descripcion" placeholder="Ej: 5678" class="form-input">
                                </div>
                                <div class="password">
									<label for="categoryId" class="form-label">PBI:</label>
									<input value="<%= Countries.PBI %>" class="descripcion" type="text" id="PBI" name="descripcion" placeholder="Ej: 5678" class="form-input">
                                </div>
                                <div class="password">
									<label for="categoryId" class="form-label">PBIperCapital:</label>
									<input value="<%= Countries.PBIperCapital %>" class="descripcion" type="text" id="PBIperCapital" name="descripcion" placeholder="Ej: 5678" class="form-input">
                                </div>
                                <div class="password">
									<label for="categoryId" class="form-label">Inflacion:</label>
									<input value="<%= Countries.Inflacion %>" class="descripcion" type="text" id="Inflacion" name="descripcion" placeholder="Ej: 5678" class="form-input">
                                </div>
                                   <div class="remember">
                                    <label for="image" class="form-label">Imagen:</label>
                                    <input type="file" id="image" name="image" class="avatarBotton">
                                    <div>
                                        <p class="error">
                                            <%= typeof errors == 'undefined' ? null : errors.image ? errors.image.msg : null %>
                                        </p>
                                    </div>
                                </div>
                                <div class="col2">
									<button type="submit" class="buy-now-button">Guardar producto</button>
								</div>
                            </div>
                        </form>
                       
                    </div>
                    
                </div>

            </main>
        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>		
	<script src= "/js/sweetAlerts.js"></script>


</body>

</html>